{#
/**
 * @file
 * Default theme implementation to display a page.
 */
#}

<div class="medsi-page">
  <header class="medsi-site-header">
    {{ page.header }}
  </header>

  <main class="medsi-main">
    {{ page.content }}
  </main>
</div>
